@tailwind base;
@tailwind components;
@tailwind utilities;

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid hsl(var(--nextui-secondary-200)); /* Цвет и стиль линии */
}
